
body{
 
  background-image: url("/images/1353541.jpg");
  background-image: height 32px;
  background-image: width auto;
  
}
a {
  color: #00B7FF;
}
#my1{
  
  color:rgb(12, 12, 12);
} 
#hero{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#detail{
  color:#771ce0;
}
#my2{
 
 
  display:flex;
  justify-content: center;
  align-items: center;

}
#ctn{
  display:flex;
  justify-content: center;
  align-items: center
}

#about1{
  display:flex;
  justify-content: center;
  align-items: center;
}
#about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #813636;
}
#about .content ul {
  list-style: none;
  padding: 0;
  color: #813636;
}
#about .content ul li {
  padding-bottom: 10px;
  color: #813636;
}

#about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #34b7a7;
}
#about .content p:last-child {
  margin-bottom: 0;
  color: #0f0f0f;
}
#skl{
  display:flex;
  justify-content: center;
  align-items: center;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #dfd7d7;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #34b7a7;
}


#project{
  display:flex;
  justify-content: center;
  align-items: center;
}
#icon{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
i{
  margin: 10px;
}
#mg{
  padding:30px;
 
}
