
body{
  background-image: url("https://cdn.wallpapersafari.com/97/73/lrF7O8.png");
}
a {
  color: #00B7FF;
}
#my1{
  
  color:rgb(12, 12, 12);
} 
#hero{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#detail{
  color:#eff7ef;
}
#my2{
 
 
  display:flex;
  justify-content: center;
  align-items: center;

}